body{
    margin: 0px;
}
head{
    margin: 0;
}
/* Genral class */
.text-center{
    text-align: center;
}
/*      Header Section     */
#body-header{
    height: 80vh;
    background-image: url(images/bgh.jpg);
    /* opacity: 0.5; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 2rem;
}
.hori-list{
    list-style: none;
    padding-left: 0px;
    margin: 0;

}
.hori-list li{
    display: inline-block;
    margin: 0px 15px 8px 0px;
    font-weight: 100;
    font-size: 2rem;
   
}
.hori-list li:hover{
    transform: scale(1.2);
   
}
.hori-list li a{
 
    text-decoration: none;
    color: white;
    transition: 0.5s;
    padding: 1px;
} 
.x li a:hover{
    
    color: rgb(189, 73, 73);
    border-bottom: 1px solid rgb(189, 73, 73);
}
.hori-list li a:active{
    color: green;
}
#Name-Social{
    margin-top: 25vh;
}
#name{
    font-size: 5rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    transition: 0.3s;
}

.soc-icon li a i{
    color: rgb(160, 42, 27);
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;

}
.soc-icon li a i:hover{
    box-shadow:0 0 6px 4px red;
}
/* About */
#about{
    height: auto;
    width: 100%;position: relative;
}
#my-img{
    height: 18rem;
    width: 18rem;
    margin: auto;
    margin-top: -20vh;
   
  
}
#my-img img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: 1px solid white;
    background-color: rgb(209, 154, 154);
    box-shadow: 0 0 2px 2px white;
    transition: 0.5s;
}
img:hover{
    transform: scale(1.05);
}
.abt-t{
    background-color: rgb(249, 245, 241);
    margin: auto;
    margin-top: 2vh;
    height: 50vh;
    width: 85%;
    border-radius: 10px;
    margin-bottom: 5%;
}
.abt-t p{
    margin: auto;
    padding: 5% 0 5% 0;
    height: 85%;
    width: 65%;
    font-size: 1.3rem;

}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
}
/* Set color using the child number  */
/* section:nth-child(2n){
    background-color: rgb(255, 255, 255);
}
section:nth-child(2n+1){
    background-color: rgb(249, 239, 239);
} */

/* SKILLS */
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
}
.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 1rem;
}
.mb75px{
    margin-bottom: 75px;
}
.skill-display{
    width: 70%;
    /* height: 100px;
    border: .5px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-progress{
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(241, 234, 234);
    margin: 1.3rem;
}
.precentage{
    height:inherit;
    width: 80%;
    border-radius:  10px 0 0 10px;
   
}

.skill-name span{
    color: white;
    font-size: 1rem;
   display: inline-block;
   margin: .5rem 1rem;
}
.skill-name{
    height: inherit;
}
.mb-blue{
    background-color: rgb(45, 45, 218);
}
.mb-green{
    background-color: chartreuse;

}
.mb-orange{
    background-color: rgb(238, 108, 61);

}
.mb-voilet{
    background-color: rgb(249, 62, 249);
}
.timeline{
    position: relative;
    width: 75%;
    border: .5px solid black;
}
.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    border: 2px solid black;
}
.timeline-box:nth-child(2n){
    left: 53%;
}
.timeline-div{
    position: absolute;
    height: 75%;
    width: 0;
    border: 1px dashed black;
    top: 10%;
    left: 50%;
}
.timeline-box ::after{
    content: '';
    position: absolute;
    top: 30%;
    right: -13%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
}
.timeline-travler{
    position: sticky;
    top: 15%;
    transform: rotate(90deg);
}